<plex-layout main="8">
    <plex-layout-main>
        <plex-title size="md" titulo="PLEX LIST">
            <plex-radio [(ngModel)]="modeloRadio.radio" name="color1" [data]="[{id: 1}]"
                        (change)="ordenarLista('baja')">
            </plex-radio>
            <div class="baja"></div>
            <plex-radio [(ngModel)]="modeloRadio.radio" name="color2" [data]="[{id: 2}]"
                        (change)="ordenarLista('media')">
            </plex-radio>
            <div class="media"></div>
            <plex-radio [(ngModel)]="modeloRadio.radio" name="color3" [data]="[{id: 3}]"
                        (change)="ordenarLista('alta')">
            </plex-radio>
            <div class="alta"></div>
            <plex-radio [(ngModel)]="modeloRadio.radio" name="color4" [data]="[{id: 4}]"
                        (change)="ordenarLista('especial')">
            </plex-radio>
            <div class="especial"></div>
            <!-- <plex-help type="info">
                <plex-list height="60%" (scrolled)="onScroll()" size="sm">
                    <plex-heading>
                        <b label>Datos importantes</b>
                    </plex-heading>
                    <plex-item *ngFor="let item of lista; let par = even" [selected]="item.selected"
                               (click)="item.selected = !item.selected">
                        <plex-bool [(ngModel)]="item.selected" name="activo"></plex-bool>
                        <plex-icon name="pencil" size="18" type="warning"></plex-icon>
                        <plex-label [titulo]="item.name" [tituloBold]="par">
                        </plex-label>
                        <plex-dropdown icon="dots-vertical" [right]="true" [items]="dropitems">
                        </plex-dropdown>
                        <plex-button type="warning" size="sm" icon="clock"></plex-button>
                        <plex-button type="danger" size="sm" label="Eliminar" (click)="tModelFecha.fechaHora = null">
                        </plex-button>
                        <plex-badge type="danger">urgente</plex-badge>
                    </plex-item>
                </plex-list>
            </plex-help> -->
        </plex-title>
        <plex-list height="60%" size="sm" [striped]="false" [offset]="300">
            <plex-heading>
                <b label>Datos importantes</b>
            </plex-heading>
            <plex-item [colors]="item.colores" *ngFor="let item of lista; let par = even; let i = index"
                       [selected]="item.selected" (click)="item.selected = !item.selected">
                <plex-bool [(ngModel)]="item.selected" name="activo"></plex-bool>
                <plex-icon name="pencil" size="18" type="warning"></plex-icon>
                <plex-label [titulo]="item.name" [tituloBold]="par">
                </plex-label>
                <plex-dropdown icon="dots-vertical" [right]="true" [items]="dropitems">
                </plex-dropdown>
                <plex-button type="warning" size="sm" icon="clock"></plex-button>
                <plex-button type="danger" size="sm" label="Eliminar" (click)="tModelFecha.fechaHora = null">
                </plex-button>
                <plex-badge type="danger">urgente</plex-badge>
            </plex-item>
        </plex-list>
        <div class="" style="display: flex; justify-content: space-between; flex-wrap:wrap-reverse;padding: 0.8rem;">
            <div class="d-flex justify-content-start" style="flex-grow: 1;">
                <plex-bool name="activo"></plex-bool>
                <plex-label class="mx-1" titulo="Otro titulo del item" subtitulo="Otro subtítulo" size="md">
                </plex-label>
                <plex-label class="mx-1" titulo="Otro titulo del item" subtitulo="Otro subtítulo" size="md">
                </plex-label>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-start align-items-center">
                    <plex-badge type="danger" class="mx-1">ausente</plex-badge>
                    <plex-badge type="danger" class="mx-1">ausente</plex-badge>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <plex-button class="mx-1" type="success" size="sm" label="aprobar"></plex-button>
                    <!-- <plex-button type="info" size="sm" icon="check"></plex-button> -->
                    <plex-button class="mx-1" type="danger" size="sm" label="Eliminar"></plex-button>
                </div>
            </div>
        </div>
        <hr>
        <plex-list>
            <plex-heading>
                <b label>Datos con plex-bool</b>
                <b label>Horario</b>
            </plex-heading>
            <plex-item>
                <plex-bool name="activo"></plex-bool>
                <plex-label titulo="Título" subtitulo="Un subtítulo"></plex-label>
                <plex-dropdown label="Dropdown con título" [items]="dropitems">
                </plex-dropdown>
                <plex-badge type="success">aprobado</plex-badge>
                <plex-badge type="danger">urgente</plex-badge>
                <plex-button type="success" size="sm" label="Aprobar"></plex-button>
                <plex-button type="warning" size="sm" icon="clock"></plex-button>
                <plex-dropdown icon="dots-vertical" [right]="true" [items]="dropitems"></plex-dropdown>
            </plex-item>
        </plex-list>
        <plex-list>
            <plex-heading>
                <b label>Datos sin plex-bool</b>
            </plex-heading>
            <plex-item>
                <plex-label titulo="Título" subtitulo="Un subtítulo"></plex-label>
                <plex-badge type="info">Este es un badge más largo</plex-badge>
                <plex-badge type="success">aprobado</plex-badge>
                <plex-badge type="danger">urgente</plex-badge>
                <plex-button type="success" size="sm" label="Aprobar"></plex-button>
                <plex-button type="warning" size="sm" icon="clock"></plex-button>
                <plex-dropdown icon="dots-vertical" [right]="true" [items]="dropitems"></plex-dropdown>
            </plex-item>
        </plex-list>
    </plex-layout-main>

    <!-- SIDEBAR -->
    <plex-layout-sidebar type="invert">
        <plex-title size="sm" titulo="Prueba con help">
            <plex-help titulo="Información sobre este panel" subtitulo="A continuación los pasos a seguir">
                <ol info class="list-group-flush">
                    <li>Buscá conceptos SNOMED en el campo de texto del panel lateral
                        (acepta búsquedas
                        parciales)</li>
                    <li>Seleccioná el concepto al cual quieras agregar o modificar
                        plantillas</li>
                    <li>Completá los campos "Título" y "Texto del procedimiento"</li>
                    <li>Opcionalmente podés elegir seleccionar a todos los descendientes
                        del concepto.</li>
                    <li>Hacé click en "Guardar todos" o el botón con el signo <i class="mdi mdi-check"></i> para
                        guardar
                        una plantilla individual</li>
                </ol>
            </plex-help>
        </plex-title>
        <plex-list size="sm" [selectable]="true">
            <ng-container *ngFor="let item of lista">
                <plex-item [colors]="item.colores" [selectable]="item.selectable">
                    <plex-bool [(ngModel)]="item.selected" name="activo"></plex-bool>

                    <plex-label titulo="Otro titulo del item" subtitulo="Otro subtítulo" size="sm"></plex-label>
                    <plex-label titulo="Otro titulo del item" subtitulo="Otro subtítulo" size="sm"></plex-label>
                    <plex-button type="danger" size="sm" icon="delete"></plex-button>
                    <plex-badge type="danger">ausente</plex-badge>
                    <plex-button type="success" size="sm" icon="check-circle"></plex-button>
                    <plex-button type="warning" size="sm" icon="clock"></plex-button>
                </plex-item>
            </ng-container>
        </plex-list>
        <div class="" style="display: flex; justify-content: space-between; flex-wrap:wrap-reverse; padding: 0.8rem;">
            <div class="d-flex justify-content-start" style="flex-grow: 1;">
                <plex-bool name="activo"></plex-bool>
                <plex-label class="mx-1" titulo="Otro titulo del item" subtitulo="Otro subtítulo" size="md">
                </plex-label>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="flex-grow: 1;">
                <div class="d-flex justify-content-start align-items-center">
                    <plex-badge type="danger">ausente</plex-badge>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <plex-button type="success" size="sm" label="aprobar"></plex-button>
                    <!-- <plex-button type="info" size="sm" icon="check"></plex-button> -->
                    <plex-button type="danger" size="sm" label="Eliminar"></plex-button>
                </div>
            </div>
        </div>
        <plex-list [selectable]="true">
            <ng-container *ngFor="let item of lista">
                <plex-item [selectable]="item.selectable">
                    <plex-bool [(ngModel)]="item.selected" name="activo"></plex-bool>
                    <plex-label titulo="Otro titulo del item" subtitulo="Otro subtítulo" size="md"> </plex-label>
                    <plex-badge type="danger">ausente</plex-badge>
                    <!-- <plex-badge type="danger">ausente</plex-badge>
                    <plex-badge type="danger">ausente</plex-badge>
                    <plex-badge type="danger">ausente</plex-badge> -->
                    <plex-button type="success" size="sm" icon="check"></plex-button>
                    <!-- <plex-button type="warning" size="sm" icon="clock"></plex-button> -->
                    <plex-button type="danger" size="sm" icon="delete"></plex-button>
                </plex-item>
            </ng-container>
        </plex-list>
    </plex-layout-sidebar>
</plex-layout>