node_modules
dist/src/demo
src/demo
typings
.json
.typingsrc
bs-config.json
jsconfig.json
tsconfig.json
typings.json
webpack.config.js
webpack.entry.js
.sass-cache
e2e
karma-cli
cypress/
.circleci
dist/demo/