<plex-layout main="8">
    <plex-layout-main>
        <plex-table [columns]="columns" #table>
            <plex-title titulo="HOLA">
                <plex-table-columns [selected]="colsVisibles">
                </plex-table-columns>
            </plex-title>

            <tr *ngFor="let item of (data$ | plSort:table | async)" [class.selected]="item.selected"
                (click)="item.selected = !item.selected">
                <td *plTableCol="'col-1'">{{item.nombre }}</td>
                <td *plTableCol="'col-2'">{{ item.apellido }}</td>
                <td *plTableCol="'col-3'">{{item.documento}}</td>
                <td *plTableCol="'col-4'">{{item.fecha | date}}</td>
                <td *plTableCol="'col-5'">{{item.ciudad}}</td>
                <td *plTableCol="'col-6'">
                    <plex-badge *ngIf="item.selected" type="success">{{ item.selected | json}}
                    </plex-badge>
                    <plex-badge type="info">{{ item.fecha | date}}</plex-badge>
                    <plex-button type="warning" icon="pencil" size="sm"></plex-button>
                </td>
            </tr>
        </plex-table>
    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        <plex-table [columns]="columns" #table>
            <plex-title main titulo="HOLA">
                <plex-table-columns [selected]="colsVisibles"></plex-table-columns>
            </plex-title>

            <tr *ngFor="let item of (data$ | plSort:table | async)">
                <td *plTableCol="'col-1'">{{ item.nombre }}</td>
                <td *plTableCol="'col-2'"> {{ item.apellido }}</td>
                <td *plTableCol="'col-3'"> {{item.documento}}</td>
                <td *plTableCol="'col-6'">
                    <plex-badge *ngIf="item.selected" type="success">{{ item.selected | json}}
                    </plex-badge>
                    <plex-badge type="info">{{ item.fecha | date}}</plex-badge>
                    <plex-button type="warning" icon="pencil" size="sm"></plex-button>
                </td>
            </tr>
        </plex-table>
    </plex-layout-sidebar>
</plex-layout>