<!-- Agendas -->
<plex-tabs>
    <plex-button type="info" class="ml-2" icon="filter" size="sm" (click)="mostrarFiltros()"></plex-button>
    <plex-tab label="mis agendas" icon="">
        <plex-wrapper *ngIf="filtros">
            <plex-datetime label="Ingrese la fecha" [(ngModel)]="tModel.fechaHora" name="fechaHora" required>
            </plex-datetime>
            <plex-select grow="2" [(ngModel)]="modelo1.select" [data]="opciones"
                         label-field="nombre + ' (' + continente + ')'" label="Seleccione una prestación">
            </plex-select>
            <plex-text label="Buscar paciente" [(ngModel)]="templateModel2.nombre" name="nombre">
            </plex-text>
        </plex-wrapper>
        <plex-list height="300px">
            <plex-item *ngFor="let agenda of agendas$ | async" (click)="selected(agenda)">
                <plex-icon name="calendario-tilde" type="success"></plex-icon>
                <plex-label titulo="{{ agenda.horaInicio }} a {{ agenda.horaFin }}"
                            subtitulo="Duración: {{ duracion }}">
                </plex-label>
                <plex-label *ngFor="let profesional of agenda.profesionales" titulo="{{ agenda.tipoPrestaciones }}"
                            subtitulo="Profesional: {{ profesional.apellido }}, {{ profesional.nombre }}">
                </plex-label>
                <plex-badge type="success">{{ agenda.estado }}</plex-badge>
                <plex-badge *ngFor="let bloque of agenda.bloques" type="info">Pacientes
                    {{ bloque.restantesDelDia }}/{{ bloque.accesoDirectoDelDia }}
                </plex-badge>
            </plex-item>
        </plex-list>
    </plex-tab>
    <plex-tab label="todas las agendas" icon="">
    </plex-tab>
</plex-tabs>

<hr>

<!-- Pacientes -->
<plex-tabs>
    <plex-button type="success" type="sm" label="paciente sin turno"></plex-button>
    <plex-tab label="consultas realizadas">
        <div slider>
            <plex-grid type="auto" cols="4">
                <ng-container *ngFor="let paciente of pacientes$ | async">
                    <plex-card aligned="center" size="md" type="default" [selected]="paciente.selected"
                               (click)="selectedPaciente(paciente)">
                        <plex-detail size="xs" direction="column">
                            <img src="{{ paciente.foto }}">
                            <plex-label direction="column" titulo="{{ paciente.nombre }}"
                                        subtitulo="{{ paciente.documento }}" tooltip="{{ paciente.nombre }}">
                            </plex-label>
                        </plex-detail>
                    </plex-card>
                </ng-container>
            </plex-grid>
        </div>
    </plex-tab>
    <plex-tab label="consultas pendientes">
    </plex-tab>
    <plex-button type="info" class="ml-2" label="ver listado completo" size="sm"></plex-button>
</plex-tabs>