<plex-layout main="{{ sidebarValue }}" resizable="true" [min]="2" [max]="8" [steps]="2">
    <plex-layout-main>
        <header>
            <!-- Cabezal -->
            <section span="12" justify class="bg-info">
                <div class="ml-3 my-2">
                    <plex-label icon="medico" size="xl" type="default" titulo="Bienvenido Walter"
                                subtitulo="¿cómo será tu jornada laboral hoy?">
                    </plex-label>
                </div>
                <div>
                    <plex-button class="ml-2" type="info">Mapa de camas</plex-button>
                    <plex-button class="ml-2" type="info">Huds</plex-button>
                    <plex-button class="ml-2" type="info">Inicio Andes</plex-button>
                </div>
            </section>
        </header>
        <plex-grid cols="12" type="auto">

            <!-- Menu Lateral -->
            <plex-grid span="1" class="d-flex align-self-start flex-column" justify size="xs">

                <plex-mininav>
                    <div superiores class="plex-minivav-container">
                        <plex-mininav-item *ngFor="let card of menu$ | async">
                            <plex-label icon="{{ card.icono }}" type="" size="md" direction="column"
                                        class="color-{{ card.semanticTag}}" titulo="Titulo" subtitulo=""
                                        [routerLink]="[{ outlets: { listado: [card.path] } }]" tooltip="{{ card.path }}"
                                        tooltipPosition="right">
                            </plex-label>
                        </plex-mininav-item>
                    </div>
                    <div inferiores class="plex-minivav-container">
                        <plex-mininav-item>
                            <plex-label icon="logo-youtube" type="" size="md" direction="column" class=""
                                        titulo="Titulo" subtitulo="" tooltip="" tooltipPosition="right">
                            </plex-label>
                        </plex-mininav-item>
                    </div>
                </plex-mininav>
                <!--
                    <section class="d-flex flex-column" justify>

                    </section>
                    <section class="d-flex flex-column" justify>
                        <plex-label icon="logo-youtube" size="md" direction="column" class="" titulo="" subtitulo=""
                                    routerLink="" tooltip="" tooltipPosition="right">
                        </plex-label>
                        <plex-label icon="-herramienta" size="md" direction="column" class="" titulo="" subtitulo=""
                                    routerLink="" tooltip="" tooltipPosition="right">
                        </plex-label>
                        <plex-label icon="salida" size="md" direction="column" class="" titulo="" subtitulo="" routerLink=""
                                    tooltip="" tooltipPosition="right">
                        </plex-label>
                    </section>-->
            </plex-grid>
            <plex-grid span="11" cols="3" class="align-self-start mr-2">
                <!-- Teleprestaciones -->
                <section span="1" class="align-self-start mr-2">
                    <plex-teleprestaciones>

                    </plex-teleprestaciones>
                </section>

                <!-- Listado -->
                <section span="2">
                    <plex-punto-inicio-main (eventoSidebar)="recibirSidebar($event)">
                    </plex-punto-inicio-main>
                </section>
            </plex-grid>
        </plex-grid>

    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        <plex-title titulo="Buscar">
            <plex-button size="sm" type="warning" label="huds paciente"></plex-button>
            <plex-button size="sm" type="info" label="paciente sin turno"></plex-button>
            <!--<plex-dropdown size="sm" type="info" label="sin turno" [items]="items"></plex-dropdown>-->
            <plex-button type="danger" icon="close" size="sm" (click)="contraerSidebar()"></plex-button>
        </plex-title>
        <ng-container>
            <plex-wrapper>
                <plex-datetime label="Ingrese la fecha" [(ngModel)]="tModel.fechaHora" name="fechaHora" required>
                </plex-datetime>
                <plex-select grow="3" [(ngModel)]="modelo1.select" [data]="opciones"
                             label-field="nombre + ' (' + continente + ')'" label="Seleccione una prestación">
                </plex-select>
                <plex-text label="Buscar paciente" [(ngModel)]="templateModel2.nombre" name="nombre">
                </plex-text>
            </plex-wrapper>
            <section justify="center" class="align-items-center h-50">
                <plex-label size="xl" type="info" titulo="Busca y selecciona un paciente"
                            subtitulo="prdras ver detalles del registro" icon="magnify" direction="column">
                </plex-label>
            </section>
        </ng-container>
        <ng-container *ngIf="sidebarValue === 8">
            <router-outlet></router-outlet>
        </ng-container>
    </plex-layout-sidebar>
</plex-layout>