<plex-layout main="{{ sidebarValue }}" resizable="true" [min]="2" [max]="8" [steps]="2">
    <plex-layout-main>
        <header>
            <!-- Cabezal -->
            <section span="12" justify class="bg-info">
                <div class="ml-3 my-2">
                    <plex-label icon="medico" size="xl" type="default" titulo="Bienvenido Walter"
                                subtitulo="¿cómo será tu jornada laboral hoy?">
                    </plex-label>
                </div>
                <div>
                    <plex-button class="ml-2" type="info">Mapa de camas</plex-button>
                    <plex-button class="ml-2" type="info">Huds</plex-button>
                    <plex-button class="ml-2" type="info">Inicio Andes</plex-button>
                </div>
            </section>
        </header>
        <plex-grid cols="12" type="auto">

            <!-- Menu Lateral -->
            <plex-grid span="1" class="d-flex align-self-start">
                <!-- Mininav -->
                <plex-mininav>
                    <ul superiores>
                        <plex-mininav-item *ngFor="let item of menu$ | async" target="{{ item.path }}"
                                           titulo="{{ item.nombre }}" icono="{{ item.icono }}">
                        </plex-mininav-item>
                    </ul>
                    <ul inferiores>
                        <plex-mininav-item titulo="" target="" icono="logo-youtube"></plex-mininav-item>
                    </ul>
                </plex-mininav>

            </plex-grid>
            <plex-grid span="11" cols="3" class="align-self-start mr-2">
                <!-- Teleprestaciones -->
                <section span="1" class="align-self-start mr-2">
                    <plex-teleprestaciones>

                    </plex-teleprestaciones>
                </section>

                <!-- Listado -->
                <section span="2" id="ancla">
                    <plex-punto-inicio-main (eventoSidebar)="recibirSidebar($event)">
                    </plex-punto-inicio-main>
                </section>
            </plex-grid>
        </plex-grid>

    </plex-layout-main>
    <plex-layout-sidebar type="invert">

        <plex-title titulo="Buscar" main>
            <plex-button size="sm" type="link" label="anchors/querySelector" routerLink="" fragment="ancla">
            </plex-button>
            <plex-button type="danger" icon="close" size="sm" (click)="contraerSidebar()"></plex-button>
        </plex-title>

        <!-- Mininav -->
        <plex-mininav [color]="color">
            <ul superiores>
                <plex-mininav-item *ngFor="let item of menu$ | async" target="target" titulo="{{ item.nombre }}"
                                   icono="{{ item.icono }}">
                </plex-mininav-item>
            </ul>
            <ul inferiores>
                <plex-mininav-item titulo="" target="target" icono="logo-youtube"></plex-mininav-item>
            </ul>
        </plex-mininav>

        <plex-title size="sm" titulo="subtitulo 1"></plex-title>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <plex-title size="sm" titulo="subtitulo 2"></plex-title>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <plex-title size="sm" titulo="subtitulo 1"></plex-title>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <plex-title size="sm" titulo="subtitulo 2"></plex-title>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <plex-title id="target" size="sm" titulo="id=target"></plex-title>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <plex-title #ancla size="sm" titulo="#ancla"></plex-title>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <plex-title #target size="sm" titulo="Target"></plex-title>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>
        <plex-title id="ancla" name="target" size="sm" titulo="Ancla"></plex-title>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,</p>

        <ng-container *ngIf="sidebarValue === 10">
            <plex-wrapper>
                <plex-datetime label="Ingrese la fecha" [(ngModel)]="tModel.fechaHora" name="fechaHora" required>
                </plex-datetime>
                <plex-select grow="3" [(ngModel)]="modelo1.select" [data]="opciones"
                             label-field="nombre + ' (' + continente + ')'" label="Seleccione una prestación">
                </plex-select>
                <plex-text label="Buscar paciente" [(ngModel)]="templateModel2.nombre" name="nombre">
                </plex-text>
            </plex-wrapper>
            <section aligned="center" vHeight="30">
                <plex-label size="xl" type="info" titulo="Busca y selecciona un paciente"
                            subtitulo="prdras ver detalles del registro" icon="magnify" direction="column">
                </plex-label>
            </section>
        </ng-container>
        <ng-container *ngIf="sidebarValue === 8">
            <router-outlet></router-outlet>
        </ng-container>
    </plex-layout-sidebar>
</plex-layout>