.badge-default,
.badge-danger,
.badge-success,
.badge-warning,
.badge-info,
{
    background: transparent;
    border: 1.5px solid;
    font-size: 0.75em;
    font-weight: normal;
    padding: 5px;
    text-transform: uppercase;
    // Espaciado del ícono
    >i {
        margin-right: 5px;
    }
}

.badge-default {
    border-color: $dark-grey;
    color: $dark-grey;
}

.badge-danger {
    border-color: $red;
    color: $red;
}

.badge-success {
    border-color: $green;
    color: $green;
}

.badge-warning {
    border-color: $orange;
    color: $orange;
}

.badge-info {
    color: $blue;
    border-color: $blue;
}

// Espaciado del ícono
[class^="badge-"]>i,
[class^="label-"]>i {
    margin-right: 5px;
}