// body, h1, h2, h3, h4, h5, h6 {
//     font-family: $font-family;
// }

// pesos de fonts
$weights: 100 120 150 200 300 400 500;
// valoes em
$ems: 1em 1.2em 1.5em 2em 3em 4em 5em;

@each $w in $weights {
    $i: index($weights, $w);
    .text-#{$w} { 
        font-size: nth($ems, $i);
    }
}