<plex-layout main="8">
    <plex-layout-main>
        <plex-title titulo="plex-grid"></plex-title>
        <h6>Plex-grid es un envolvente que tiene como objetivo organizar y distribuir elementos en una reticula</h6>
        <plex-grid cols="2">
            <section>
                <plex-title titulo="plex-grid size='sm'" size="sm"></plex-title>
                <plex-grid type="full" size="sm">
                    <img *ngFor="let img of img" src="{{ img.url }}" alt="">
                </plex-grid>
                <plex-grid type="full" size="sm">
                    <div *ngFor="let dato of datos | slice:0:3">
                        <plex-label titulo="{{ dato.label }}" subtitulo="{{ dato.valor }}">
                        </plex-label>
                    </div>
                </plex-grid>
                <plex-title titulo="plex-grid size='md'" size="sm"></plex-title>
                <plex-grid type="full" size="md">
                    <img *ngFor="let img of img | slice:0:3" src="{{ img.url }}" alt="">
                </plex-grid>
            </section>
            <section>
                <plex-title titulo="plex-grid size='lg'" size="sm"></plex-title>
                <plex-grid type="full" size="lg">
                    <img *ngFor="let img of img | slice:0:2" src="{{ img.url }}" alt="">
                </plex-grid>
            </section>
        </plex-grid>
        <hr>
        <plex-title titulo="atributo 'cols' (columnas fijas) | cols= '2' | '3' | '4'" size="md"></plex-title>
        <plex-grid type="auto" size="md" cols="2">
            <div class="card p-4 d-flex justify-content-center text-center" *ngFor="let dato of datos | slice:1:3">
                <plex-label titulo="{{ dato.label }}" subtitulo="{{ dato.valor }}">
                </plex-label>
                <hr>
            </div>
        </plex-grid>
        <plex-grid type="auto" size="md" cols="3">
            <div class="card p-4 d-flex justify-content-center text-center" *ngFor="let dato of datos | slice:1:4">
                <plex-label titulo="{{ dato.label }}" subtitulo="{{ dato.valor }}">
                </plex-label>
                <hr>
            </div>
        </plex-grid>
        <plex-grid type="auto" size="md" cols="4">
            <div class="card p-4 d-flex justify-content-center text-center" *ngFor="let dato of datos | slice:1:5">
                <plex-label titulo="{{ dato.label }}" subtitulo="{{ dato.valor }}">
                </plex-label>
                <hr>
            </div>
        </plex-grid>
    </plex-layout-main>

    <!-- Sidebar -->
    <plex-layout-sidebar type="invert">
        <plex-title titulo="atributos y usos"></plex-title>
        <h6></h6>
        <plex-title titulo="plex-grid type='full'" size="sm"></plex-title>
        <h6>La propiedad 'full' genera que las celdas que integran la grilla ocupen todo el espacio disponible.</h6>
        <plex-grid type="full" size="sm">
            <img *ngFor="let img of img | slice:0:4" src="{{ img.url }}" alt="">
        </plex-grid>
        <plex-title titulo="plex-grid type='auto'" size="sm"></plex-title>
        <h6>La propiedad 'auto' implica que las celdas que componen la grilla mantengan su aspecto original.</h6>
        <plex-grid type="auto" size="sm">
            <img *ngFor="let img of img | slice:0:4" src="{{ img.url }}" alt="">
        </plex-grid>
        <hr>
        <plex-title titulo="plex-grid utilizado con labels" size="sm"></plex-title>
        <plex-grid type="full" size="sm">
            <div *ngFor="let dato of datos | slice:0:4">
                <plex-label titulo="{{ dato.label }}" subtitulo="{{ dato.valor }}">
                </plex-label>
            </div>
        </plex-grid>
        <hr>
        <plex-title titulo="Directiva span = '2' | '3' | '4'" size="sm"></plex-title>
        <h6>Es aplicable a los elementos que integran el plex-grid. El valor asignado determina la cantidad de columnas
            que ocupa el elemento.</h6>
        <plex-grid type="auto" size="md">
            <img span=2
                 src="https://images.unsplash.com/photo-1560582861-45078880e48e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&full=crop&w=500&q=60"
                 alt="">
            <img src="https://images.unsplash.com/photo-1579684385127-1ef15d508118?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&full=crop&w=500&q=60"
                 alt="">
            <img src="https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&full=crop&w=500&q=60"
                 alt="">
            <img src="https://images.unsplash.com/photo-1560582861-45078880e48e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&full=crop&w=500&q=60"
                 alt="">
            <img src="https://images.unsplash.com/photo-1550831107-1553da8c8464?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&full=crop&w=500&q=60"
                 alt="">
            <img src="https://images.unsplash.com/photo-1527613426441-4da17471b66d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&full=crop&w=500&q=60"
                 alt="">
            <img src="https://images.unsplash.com/photo-1560582861-45078880e48e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&full=crop&w=500&q=60"
                 alt="">
        </plex-grid>
    </plex-layout-sidebar>
</plex-layout>