<plex-layout main="8" resizable="true" min="4" max="8" [steps]="2">
    <plex-layout-main>
        <plex-title main titulo="plex-grid">
            <plex-wrapper>
                <h6>Plex-grid es un envolvente que tiene como objetivo organizar y distribuir elementos en una reticula
                </h6>
            </plex-wrapper>
        </plex-title>
        <!-- Sizes -->
        <plex-grid cols="2" size="auto">
            <div>
                <section>
                    <plex-title titulo="size='xs'" size="sm"></plex-title>
                    <plex-grid type="auto" size="xs">
                        <plex-card direction="column" type="custom" color="{{ dato.color }}" align="center"
                                   *ngFor="let dato of datos | slice:0:1">
                            <plex-label size="xl" titulo="{{ dato.label }}" subtitulo="">
                            </plex-label>
                        </plex-card>
                    </plex-grid>
                </section>
                <section>
                    <plex-title titulo="size='sm'" size="sm"></plex-title>
                    <plex-grid type="auto" size="sm">
                        <plex-card direction="column" type="custom" color="{{ dato.color }}" align="center"
                                   *ngFor="let dato of datos | slice:1:2">
                            <plex-label size="xl" titulo="{{ dato.label }}" subtitulo="">
                            </plex-label>
                        </plex-card>
                    </plex-grid>
                </section>
                <section>
                    <plex-title titulo="size='md'" size="sm"></plex-title>
                    <plex-grid type="auto" size="md">
                        <plex-card direction="column" type="custom" color="{{ dato.color }}" align="center"
                                   *ngFor="let dato of datos | slice:2:3">
                            <plex-label size="xl" titulo="{{ dato.label }}" subtitulo="">
                            </plex-label>
                        </plex-card>
                    </plex-grid>
                </section>
            </div>
            <div>
                <section>
                    <plex-title titulo="size='lg'" size="sm"></plex-title>
                    <plex-grid type="auto" size="lg">
                        <plex-card direction="column" type="custom" color="{{ dato.color }}" align="center"
                                   *ngFor="let dato of datos | slice:3:4">
                            <plex-label size="xl" titulo="{{ dato.label }}" subtitulo="">
                            </plex-label>
                        </plex-card>
                    </plex-grid>
                </section>
                <section>
                    <plex-title titulo="size='xl'" size="sm"></plex-title>
                    <plex-grid type="auto" size="xl">
                        <plex-card direction="column" type="custom" color="{{ dato.color }}" align="center"
                                   *ngFor="let dato of datos | slice:4:5">
                            <plex-label size="xl" titulo="{{ dato.label }}" subtitulo="">
                            </plex-label>
                        </plex-card>
                    </plex-grid>
                </section>
            </div>
        </plex-grid>
        <div>
            <!-- Encolumnado manual -->
            <section class="mt-4">
                <plex-title titulo="Encolumnado manual: colsSm | colsMd | colsLg (expandir sidebar!)" size="sm">
                </plex-title>
                <plex-grid responsive type="full" size="md" cols="3" colsSm="1" colsMd="2" colsLg="3">
                    <plex-card direction="column" type="info" align="center" *ngFor="let dato of datos | slice:0:3">
                        <plex-label size="lg" titulo="{{ dato.label }}" subtitulo="{{ dato.valor }}">
                        </plex-label>
                    </plex-card>
                </plex-grid>
            </section>
            <!-- Columnas fijas -->
            <section class="mt-4">
                <plex-title titulo="atributo 'cols' (columnas fijas) | cols= '2' | ... | '12'" size="sm">
                </plex-title>
                <plex-grid type="auto" size="md" cols="2">
                    <plex-card direction="column" type="info" align="center" *ngFor="let dato of datos | slice:0:2">
                        <plex-label size="xl" titulo="{{ dato.label }}" subtitulo="">
                        </plex-label>
                    </plex-card>
                </plex-grid>
                <plex-grid type="auto" size="md" cols="3">
                    <plex-card direction="column" type="info" align="center" *ngFor="let dato of datos | slice:2:5">
                        <plex-label size="xl" titulo="{{ dato.label }}" subtitulo="">
                        </plex-label>
                    </plex-card>
                </plex-grid>
            </section>
        </div>
    </plex-layout-main>

    <!-- Sidebar -->
    <plex-layout-sidebar type="invert">
        <plex-title titulo="atributos y usos"></plex-title>
        <plex-title titulo="plex-grid type='full'" size="sm"></plex-title>
        <h6>La propiedad 'full' genera que las celdas que integran la grilla ocupen todo el espacio disponible.</h6>
        <plex-grid type="full" size="sm">
            <plex-card direction="column" type="warning" align="center" *ngFor="let dato of datos | slice:0:3">
                <plex-label size="xl" titulo="{{ dato.label }}" subtitulo="">
                </plex-label>
            </plex-card>
        </plex-grid>
        <plex-title titulo="plex-grid type='auto'" size="sm"></plex-title>
        <h6>La propiedad 'auto' implica que las celdas que componen la grilla mantengan su aspecto original.</h6>
        <plex-grid type="auto" size="sm">
            <plex-card direction="column" type="warning" align="center" *ngFor="let dato of datos | slice:0:3">
                <plex-label size="xl" titulo="{{ dato.label }}" subtitulo="">
                </plex-label>
            </plex-card>
        </plex-grid>
        <!-- plex-labels engrillados -->
        <plex-title titulo="plex-grid utilizado con labels" size="sm"></plex-title>
        <plex-grid type="full" size="sm">
            <plex-label size="lg" titulo="{{ dato.label }}" subtitulo="{{ dato.valor }}"
                        *ngFor="let dato of datos | slice:0:3">
            </plex-label>
        </plex-grid>
        <!-- Directiva span -->
        <plex-title titulo="Directiva span = '2' | ... | '12'" size="sm"></plex-title>
        <h6>Es aplicable a los elementos que integran el plex-grid. El valor asignado determina la cantidad de columnas
            que ocupa el elemento.</h6>
        <plex-grid cols="3" size="md" *ngFor="let dato of datos | slice:0:1">
            <plex-card span="2" direction="column" type="custom" color="{{ dato.color }}" align="center">
                <plex-label size="xl" titulo="{{ dato.label }}" subtitulo="">
                </plex-label>
            </plex-card>
            <plex-card direction="column" type="info" align="center">
                <plex-label size="xl" titulo="{{ dato.label }}" subtitulo="">
                </plex-label>
            </plex-card>
        </plex-grid>
        <!-- sin calles -->
        <plex-title titulo="plex-grid [noGap] (grilla sin espacios)" size="sm"></plex-title>
        <plex-grid gap="true" type="auto" size="md">
            <plex-card direction="column" type="custom" color="{{ dato.color }}" align="center"
                       *ngFor="let dato of datos | slice:0:3">
                <plex-label size="xl" titulo="{{ dato.label }}" subtitulo="">
                </plex-label>
            </plex-card>
        </plex-grid>
    </plex-layout-sidebar>
</plex-layout>