@import './modulos/mpi/mpi-maquetado.scss';

// Listado-Sidebar
plex-item.pacienteFallecido {

    div.item-list {

        plex-label, img, .badge-success, .badge-warning, .badge-info {
            opacity: 0.45!important;
            filter: grayscale(100%)!important;       
        }
    }
}

.displayNone {
    display: none;
}

.text-success {
    color: $green;
}

.text-warning {
    color: $orange;
}