<plex-layout main="8">
    <plex-layout-main>

        <plex-title titulo="Directivas PLEX"></plex-title>

        <div class="main">
            <p class="lead">La directiva <em>case</em> aplica varios tipos de casing en textos.</p>
            <div class="outline-dashed-default">
                &lt;div case="lowercase | uppercase | capitalize | capitalize-first | none"&gt;&lt;/div&gt;<br>
            </div>
            <hr>
            <b>Tipos de casing</b>
            <ul>
                <li class="list-item"><em>none</em>: No se aplica casing. Mantiene casing ORIGINAL</li>
                <li class="list-item"><em>lowercase</em>: todo el texto en minúsculas</li>
                <li class="list-item"><em>uppercase</em>: TODO EL TEXTO EN MAYÚSCULAS</li>
                <li class="list-item"><em>capitalize</em>: Cada Primera Letra Del Texto En Mayúscula</li>
                <li class="list-item"><em>capitalize-first</em>: Primera letra del texto en mayúscula</li>
            </ul>
        </div>
    </plex-layout-main>
    <plex-layout-sidebar>
        <plex-title size="sm" titulo="Ejemplos directiva [case]"></plex-title>
        <div class="row">
            <div class="col">
                <plex-label>Original: {{ contenido }}</plex-label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <plex-label titulo="none"></plex-label>
                <div case="none">{{ contenido }}</div>
                <plex-label titulo="lowercase"></plex-label>
                <div case="lowercase">{{ contenido }}</div>
                <plex-label titulo="uppercase"></plex-label>
                <div case="uppercase">{{ contenido }}</div>
                <plex-label titulo="capitalize"></plex-label>
                <div case="capitalize">{{ contenido }}</div>
                <plex-label titulo="capitalize-first"></plex-label>
                <div case="capitalize-first">{{ contenido }}</div>
            </div>
        </div>
    </plex-layout-sidebar>
</plex-layout>