<plex-layout>
    <plex-layout-main>
        <plex-title titulo="Simple"></plex-title>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <plex-int label="Ingrese la edad del paciente" [(ngModel)]="tModel.edad" name="valor">
                    </plex-int>
                </form>
            </div>
            <div class="col-md-6" *ngIf="tModel">
                <label>Modelo</label>
                <pre>{{tModel | json}}</pre>
            </div>
        </div>
        <plex-title titulo="Con min y max"></plex-title>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <plex-int label="Ingrese el porcentaje mayor a 10 y menor a 90" [(ngModel)]="tModel.valor"
                              name="valor" min="10" max="90">
                        <plex-icon name="account" left></plex-icon>
                        <span right>%</span>
                    </plex-int>
                </form>
            </div>
            <div class="col-md-6" *ngIf="tModel">
                <label>Modelo</label>
                <pre>{{tModel | json}}</pre>
            </div>
        </div>
    </plex-layout-main>
</plex-layout>