<plex-layout>
    <plex-layout-main>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <plex-int label="Ingrese la edad del paciente" [(ngModel)]="tModel.edad" name="valor">
                    </plex-int>
                </form>
            </div>
            <div class="col-md-6" *ngIf="tModel">
                <label>Modelo</label>
                <pre>{{tModel | json}}</pre>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <plex-int label="Ingrese el porcentaje mayor a 10 y menor a 90" [(ngModel)]="tModel.valor"
                        name="valor" min="10" max="90" suffix="%">
                    </plex-int>
                </form>
            </div>
            <div class="col-md-6" *ngIf="tModel">
                <label>Modelo</label>
                <pre>{{tModel | json}}</pre>
            </div>
        </div>
    </plex-layout-main>
</plex-layout>