<plex-app>
    <!-- <plex-ribbon text="DEMO" type="primary" *ngIf="true"></plex-ribbon> -->
    <div navIcon class="navbar-brand hover" [routerLink]="'/'" tabindex="-1">
        <div class="logo"></div>
        <div class="text"></div>
    </div>

    <div nav-item>
        <plex-icon name="bell" class="text-warning"></plex-icon>
        <plex-title titulo="Novedades"></plex-title>
        <plex-list>
            <plex-item>
                <img src="https://innovadores.larazon.es/uploads/innovadores/noticias/n-a-1580318603.jpg" alt="">
                <plex-label titulo="Se realizó el primer taller de vocabularios controlados de Salud" subtitulo="">
                </plex-label>
                <plex-badge size="md" type="info"> 22/22/2019 </plex-badge>
                <plex-badge size="md" type="success"> MPI </plex-badge>
            </plex-item>
            <plex-item>
                <img src="https://innovadores.larazon.es/uploads/innovadores/noticias/n-a-1580318603.jpg" alt="">
                <plex-label titulo="Se realizó el primer taller de vocabularios controlados de Salud" subtitulo="">
                </plex-label>
                <plex-badge size="md" type="info"> 22/22/2019 </plex-badge>
                <plex-badge size="md" type="success"> MPI </plex-badge>
            </plex-item>
            <plex-item>
                <img src="https://innovadores.larazon.es/uploads/innovadores/noticias/n-a-1580318603.jpg" alt="">
                <plex-label titulo="Se realizó el primer taller de vocabularios controlados de Salud" subtitulo="">
                </plex-label>
                <plex-badge size="md" type="info"> 22/22/2019 </plex-badge>
                <plex-badge size="md" type="success"> MPI </plex-badge>
            </plex-item>
        </plex-list>
    </div>
</plex-app>