<plex-layout main="8">
    <plex-layout-main>
        <!-- Menu principal -->
    </plex-layout-main>
    <plex-layout-sidebar>
        <form #formulario="ngForm">
            <!-- Menu lateral -->
            <fieldset>
                <legend>Datos principales</legend>
                <div class="row">
                    <div class="col-md">
                        <plex-text label="Apellido" [(ngModel)]="modelo.apellido" name="apellido" [required]="true">
                        </plex-text>
                    </div>
                    <div class="col-md">
                        <plex-text label="Nombre" [(ngModel)]="modelo.nombre" name="nombre" [required]="true">
                        </plex-text>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <plex-radio [(ngModel)]="modelo.sexo" label="Sexo" [data]="opcionesSexo" name="sexo" type="horizontal" [required]="true">
                        </plex-radio>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Datos de nacimiento</legend>
                <div class="row">
                    <div class="col-md">
                        <plex-datetime type="date" label="Fecha de nacimiento" [(ngModel)]="modelo.fechaNacimiento" name="fechaNacimiento" [required]="true">
                        </plex-datetime>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <plex-select [(ngModel)]="modelo.lugarNacimiento" name="lugarNacimiento" [data]="opcionesLugarNacimiento" labelField="nombre"
                            label="Lugar de nacimiento">
                        </plex-select>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <!-- Botonera-->
                <div class="col-md text-left">
                    <plex-button label="Cancelar" type="danger"></plex-button>
                </div>
                <div class="col-md text-right">
                    <plex-button label="Guardar" type="success" [validateForm]="formulario" (click)="guardar($event)"></plex-button>
                </div>
            </div>
        </form>
    </plex-layout-sidebar>
    <plex-layout-footer>
    </plex-layout-footer>
</plex-layout>