<plex-layout>
    <plex-layout-main>
        <plex-title titulo="plex-phone sin prefijo (prefix)"></plex-title>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <plex-phone label="Ingrese en número telefónico" placeholder="Número de celular"
                                [(ngModel)]="tModel.valor" name="valor">
                    </plex-phone>
                </form>
            </div>
            <div class="col-md-6" *ngIf="model1">
                <label>Modelo</label>
                <pre>{{tModel | json}}</pre>
            </div>
        </div>
        <plex-title titulo='plex-phone con icono (icon="icon")'></plex-title>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <plex-phone label="Ingrese en número telefónico" placeholder="Número de celular"
                                [(ngModel)]="tModel.valor" name="valor" icon="telefono">
                    </plex-phone>
                </form>
            </div>
            <div class="col-md-6" *ngIf="model1">
                <label>Modelo</label>
                <pre>{{tModel | json}}</pre>
            </div>
        </div>
        <plex-title titulo='plex-phone con prefijo (prefix="texto")'></plex-title>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <plex-phone label="Ingrese en número telefónico" placeholder="Número de celular"
                                [(ngModel)]="tModel.valor" name="valor" prefix="(0299)">
                    </plex-phone>
                </form>
            </div>
            <div class="col-md-6" *ngIf="model1">
                <label>Modelo</label>
                <pre>{{tModel | json}}</pre>
            </div>
        </div>
        <plex-title titulo='plex-phone con sufijo (sufix="texto")'></plex-title>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <plex-phone label="Ingrese en número telefónico" placeholder="Número de celular"
                                [(ngModel)]="tModel.valor" name="valor" suffix="(particular)">
                    </plex-phone>
                </form>
            </div>
            <div class="col-md-6" *ngIf="model1">
                <label>Modelo</label>
                <pre>{{tModel | json}}</pre>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <plex-phone label="Modelo dinámico" [(ngModel)]="modeloDinamico.valor" required="true"
                                placeholder="Ej: 2990000000" name="dinamico"></plex-phone>
                    <plex-button type="info" size="sm" label="Setear modelo" (click)="setModel()"></plex-button>
                </form>
            </div>
            <div class="col-md-6" *ngIf="model1">
                <label>Modelo</label>
                <pre>{{modeloDinamico | json}}</pre>
            </div>
        </div>
    </plex-layout-main>
</plex-layout>