<plex-box title="Template-form usando ngModel">
    <div class="row">
        <div class="col-md-6">
            <form>
                <plex-float label="Ingrese su edad" [(ngModel)]="tModel.valor" name="valor">
                </plex-float>
            </form>
        </div>
        <div class="col-md-6" *ngIf="model1">
            <label>Modelo</label>
            <pre>{{tModel | json}}</pre>
        </div>
    </div>
</plex-box>
<plex-box title="Reactive form utilizando sin validación">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="form1">
                <plex-float label="Ingrese su edad" formControlName="valor">
                </plex-float>
            </form>
        </div>
        <div class="col-md-6" *ngIf="model1">
            <label>Modelo</label>
            <pre>{{model1 | json}}</pre>
        </div>
    </div>
</plex-box>
<plex-box title="Reactive form utilizando validación múltiple">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="form2">
                <plex-float label="Ingrese un número >= 2.5 y <= 9.5" formControlName="valor">
                </plex-float>
            </form>
        </div>
        <div class="col-md-6" *ngIf="model2">
            <label>Modelo</label>
            <pre>{{model2 | json}}</pre>
        </div>
    </div>
</plex-box>