plex-filters  {
    & section {
        display: flex;
        position: relative;
        flex-flow: row wrap;
        width: 100%;
        margin-bottom: 0.75rem;
        padding: 0.25rem 0 0.75rem 0;
        border-bottom: solid 1px lightgray;
        
        &.hidden {
            clear: right;
            
            [masFiltros] {
                display: flex;
                flex-flow: wrap;
                width: 100%;
            }
        }
        
        &.desplegado {
            transition: translate .3s ease-in;
            
            [masFiltros] {
                display: none;
                flex-flow: wrap;
            }
        }
    }

    plex-button.botonDesplegar {
        position: absolute;
        top: 0;
        right: 0;
    }

    label {
        white-space: nowrap; 
        width: fit-content; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    @mixin baseInputs {
        margin-right: 1rem;
    }

    plex-select {
        @include baseInputs;
    }
    
    plex-datetime, plex-phone, plex-text, plex-float {
        @include baseInputs;
        flex: 1 0 190px!important;
    }

    // Alinear elementos en formulario
    plex-bool {
        display: flex;
        align-items: center;
        justify-content: center;        
    }
    
    plex-button {
        display: flex;
        align-items: flex-end;
    }

    // Componentes de ancho variable
    
    @media screen and (max-width: 768px) {
        // Para que los elementos con directiva 'columns' no restringan la grilla
        plex-datetime, plex-phone, plex-text, plex-float {
            flex: 1!important;
        }
    }
    
    // Directiva Columns
    .flex-grow-1 {
        flex-grow: 1;
    }

    .flex-grow-2 {
        flex-grow: 2;
    }

    .flex-grow-3 {
        flex-grow: 3;
    }

}