<!-- Desacoplar a componente local plex-filter -->
<plex-datetime label="Fecha y la hora del evento" [(ngModel)]="tModel.fechaHora" name="fechaHora" required>
</plex-datetime>
<plex-float label="plex-float" placeholder="Ingrese porcentaje entre 10.5 y 90.4" [(ngModel)]="tModel.valor"
            name="valor" [min]="10.5" [max]="90.4" suffix="%">
</plex-float>

<plex-phone label="Número telefónico" placeholder="Número de celular" [(ngModel)]="tModel.valor" name="valor">
</plex-phone>
<plex-button type="info" size="sm" [icon]="desplegado ? 'chevron-up' : 'chevron-down'" (click)="desplegarInputs()">
</plex-button>

<!-- busqueda avanzada -->
<ng-container *ngIf="desplegado">
    <plex-select [(ngModel)]="modelo1.select" [data]="opciones" label-field="nombre + ' (' + continente + ')'"
                 label="Seleccione un país">
    </plex-select>

    <plex-text label="Texto mínimo de 10 caracteres" [(ngModel)]="templateModel2.nombre" name="nombre" minlength="10"
               maxlength="15" [debounce]="1000" (change)="onChange()">
    </plex-text>
</ng-container>