<plex-layout main="8">
    <plex-layout-main>
        <plex-title titulo="plex-card"></plex-title>
        <h5>Una <b>plex-card</b> es una envolvente rectangular que aloja otros micro-componentes tales como: plex-badge,
            plex-label, plex-button (y sus respectivos atributos).</h5>
        <plex-title titulo="plex-card aligned=center" size="sm"></plex-title>
        <plex-grid type="auto" cols="2" size="md">
            <plex-card aligned="center" type="default" *ngFor="let agenda of agendas | slice:0:2"
                       [selected]="agenda.selected" (click)="agenda.selected = !agenda.selected">
                <plex-badge type="{{ agenda.type }}">{{ agenda.type }}</plex-badge>
                <plex-badge type="info">{{ agenda.horario }}</plex-badge>
                <plex-label size="md" direction="column" type="{{ agenda.type }}" titulo="{{ agenda.profesional }}"
                            subtitulo="{{ agenda.prestacion }}" icon="star">
                </plex-label>
                <plex-button type="info" icon="eye" size="sm"></plex-button>
                <plex-button type="success" icon="plus" size="sm"></plex-button>
            </plex-card>
        </plex-grid>
        <plex-grid type="full" cols="2" size="md">
            <!-- No seleccionables -->
            <div>
                <plex-title titulo="plex-card mode=filled (no seleccionables)" size="sm"></plex-title>
                <plex-grid type="auto" size="lg">
                    <plex-card selectable="true" [color]="color" align="start" [selected]="dato.selected"
                               (click)="dato.selected = !dato.selected" type="{{ dato.type }}" mode="{{ dato.style }}"
                               *ngFor="let dato of datos | slice:0:6">
                        <plex-badge type="warning">badge</plex-badge>
                        <plex-label size="lg" titulo="{{ dato.label }}" subtitulo="{{ dato.valor }}">
                        </plex-label>
                        <plex-button type="warning" label="aceptar"></plex-button>
                    </plex-card>
                </plex-grid>
            </div>
            <div>
                <plex-title titulo="plex-card mode=outlined align=start" size="sm"></plex-title>
                <!-- outlined -->
                <plex-grid type="auto" size="lg">

                    <plex-card [color]="color" align="start" selectable="true" type="{{ dato.type }}"
                               *ngFor="let dato of datos | slice:0:6" [selected]="dato.selected"
                               (click)="dato.selected = !dato.selected">
                        <plex-badge type="warning">badge</plex-badge>
                        <plex-label size="lg" titulo="{{ dato.label }}" subtitulo="{{ dato.valor }}">

                        </plex-label>
                        <plex-button type="warning" label="test"></plex-button>
                    </plex-card>
                </plex-grid>
            </div>
        </plex-grid>
        <!-- Type Dark (invert) -->
        <plex-title titulo="plex-card type='dark'" size="sm"></plex-title>
        <plex-grid cols="2">
            <plex-card selectable="true" class="mt-1" aligned="center" type="dark" mode="filled"
                       *ngFor="let dato of datos | slice:6:7" [selected]="dato.selected"
                       (click)="dato.selected = !dato.selected">
                <plex-badge type="warning">badge</plex-badge>
                <plex-label direction="column" size="lg" titulo="{{ dato.label }}" subtitulo="{{ dato.valor }}"
                            icon="information-variant">
                </plex-label>
                <plex-button type="{{ dato.type }}" label="aceptar"></plex-button>
            </plex-card>
            <plex-card selectable="true" class="mt-1" aligned="center" mode="outlined" type="dark"
                       *ngFor="let dato of datos | slice:6:7" [selected]="dato.selected"
                       (click)="dato.selected = !dato.selected">
                <plex-badge type="warning">badge</plex-badge>
                <plex-label direction="column" size="lg" titulo="{{ dato.label }}" subtitulo="{{ dato.valor }}"
                            icon="information-variant">
                </plex-label>
                <plex-button type="{{ dato.type }}" label="aceptar"></plex-button>
            </plex-card>
        </plex-grid>
        <div span="2">
            <!-- Calendario -->
            <plex-title titulo="plex-card: conjunto de celdas" size="sm"></plex-title>
            <plex-grid type="auto" size="md" noGap>
                <plex-card aligned="center" type="default" *ngFor="let celda of calendario | slice:0:25"
                           [selected]="celda.selected" (click)="celda.selected = !celda.selected">
                    <plex-badge type="success">{{ celda.turnos }}</plex-badge>
                    <plex-badge type="warning">{{ celda.agendas }}</plex-badge>
                    <plex-label size="lg" titulo="{{ celda.fecha }}" subtitulo="">
                    </plex-label>
                    <plex-button type="warning" icon="pencil" size="sm"></plex-button>
                </plex-card>
            </plex-grid>
        </div>

    </plex-layout-main>

    <!-- Sidebar -->
    <plex-layout-sidebar type="invert">
        <plex-title titulo="atributos y usos"></plex-title>
        <plex-title titulo="detalle de agendas" size="sm"></plex-title>
        <plex-grid type="full" size="md">
            <plex-card align="start" type="" *ngFor="let agenda of agendas"
                       [ngClass]="{'disabled' : agenda.turnos === 'sin turnos'}">
                <plex-badge type="{{ agenda.type }}">{{
                    agenda.turnos }}</plex-badge>
                <plex-label size="md" direction="row" titulo="{{ agenda.horario }}"
                            subtitulo="{{ agenda.profesional }}">
                </plex-label>
                <plex-button type="warning" label="modificar" size="sm" [disabled]="agenda.turnos === 'sin turnos'">
                </plex-button>
            </plex-card>
        </plex-grid>
        <plex-title titulo="plex-card con imagenes" size="sm"></plex-title>
        <plex-grid type="full" size="md" cols="2">
            <plex-card align="start" type="" *ngFor="let efector of efectores">
                <img src="{{ efector.img }}" alt="">
                <plex-label size="md" direction="row" titulo="{{ efector.nombre }}" subtitulo="{{ efector.localidad }}">
                </plex-label>
                <plex-button type="success" icon="hospital" size="sm"></plex-button>
                <plex-button type="warning" icon="pencil" size="sm"></plex-button>
                <plex-button type="danger" icon="delete" size="sm"></plex-button>
            </plex-card>
        </plex-grid>
        <hr>
        <plex-title titulo="grilla de horarios" size="sm"></plex-title>
        <plex-grid type="full" size="md">
            <plex-card align="center" type="dark" mode="filled" *ngFor="let turno of horarios" selectable="true"
                       [selected]="turno.selected" (click)="turno.selected = !turno.selected">
                <plex-label size="md" direction="column" titulo="{{ turno.hora }}">
                </plex-label>
            </plex-card>
        </plex-grid>
    </plex-layout-sidebar>
</plex-layout>