<plex-box title="plex-bool" type="primary">
    <div class="row">
        <div class="col-md-6">
            <form>
                <h1>Checkbox</h1>
                <plex-bool [(ngModel)]="modelo.checkbox" label="¿Está activo?" name="activo"></plex-bool>
            </form>
        </div>
        <div class="col-md-6" *ngIf="modelo">
            <label>Modelo</label>
            <pre>{{modelo | json}}</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form>
                <h1>Slider</h1>
                <plex-bool [(ngModel)]="modelo.slide" type="slide" label="¿Está activo?" name="activo"></plex-bool>
            </form>
        </div>
        <div class="col-md-6" *ngIf="modelo">
            <label>Modelo</label>
            <pre>{{modelo | json}}</pre>
        </div>
    </div>
</plex-box>