<plex-layout main=8>
    <plex-layout-main>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <p class="lead">Checkbox</p>
                    <plex-bool [(ngModel)]="modelo.checkbox" label="¿Está activo?" name="checkbox"></plex-bool>
                </form>
            </div>
            <div class="col-md-6" *ngIf="modelo">
                <label>Modelo</label>
                <span>
                    CHECKBOX {{ modelo.checkbox ? 'ACTIVE' : 'INACTIVE' }}
                </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <p class="lead">Slider</p>
                    <plex-bool [(ngModel)]="modelo.slide" type="slide" label="¿Está activo?" name="slide"></plex-bool>
                </form>
            </div>
            <div class="col-md-6" *ngIf="modelo">
                <label>Modelo</label>
                <span>
                    SLIDE {{ modelo.slide ? 'ACTIVE' : 'INACTIVE' }}
                </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <p class="lead">Slider readonly</p>
                    <plex-bool [(ngModel)]="modelo.slide" [readonly]="true" type="slide" label="¿Está activo?"
                               name="readonly"></plex-bool>
                </form>
            </div>
            <div class="col-md-6" *ngIf="modelo">
                <label>Modelo</label>
                <pre>{{modelo | json}}</pre>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="lead">Labels largos</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <plex-bool type="checkbox" label="ecografía de muestra de anatomía patológica de mama" name="checkbox">
                </plex-bool>
            </div>
            <div class="col-3">
                <plex-bool type="checkbox" label="ecocardiografía transtorácica focalizada en cuidados intensivos"
                           name="checkbox">
                </plex-bool>



            </div>
            <div class="col-3">
                <plex-bool type="checkbox" label="ecocardiografía transtorácica focalizada en cuidados intensivos"
                           name="checkbox">
                </plex-bool>
            </div>
            <div class="col-3">
                <plex-bool type="checkbox" label="ecocardiografía intracardíaca transluminal para cardiopatía congénita"
                           name="checkbox">
                </plex-bool>
            </div>
        </div>
    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <p class="lead">Checkbox</p>
                    <plex-bool type="checkbox" [(ngModel)]="modelo.checkbox" label="¿Está activo?" name="checkbox">
                    </plex-bool>
                </div>
                <div class="col-md-6">
                    <p class="lead">Slide toggle</p>
                    <plex-bool type="slide" [(ngModel)]="modelo.checkbox" label="¿Está activo?" name="checkbox">
                    </plex-bool>
                </div>
            </div>
        </form>
    </plex-layout-sidebar>
</plex-layout>