<plex-box label="Default / Checkbox">
    <div class="row">
        <div class="col-md-6">
            <form>
                <plex-bool [(ngModel)]="modelo.checkbox" label="¿Está activo?" name="activo"></plex-bool>
            </form>
        </div>
        <div class="col-md-6" *ngIf="modelo">
            <label>Modelo</label>
            <pre>{{modelo | json}}</pre>
        </div>
    </div>
</plex-box>
<plex-box label="Slide">
    <div class="row">
        <div class="col-md-6">
            <form>
                <plex-bool [(ngModel)]="modelo.slide" type="slide" label="¿Está activo?" name="activo"></plex-bool>
            </form>
        </div>
        <div class="col-md-6" *ngIf="modelo">
            <label>Modelo</label>
            <pre>{{modelo | json}}</pre>
        </div>
    </div>
</plex-box>