<plex-layout main="8">

    <plex-layout-main>
        <plex-title titulo="Pasos de un proceso: Dación de un turno"></plex-title>
        <div class="w-100 h-50 d-flex justify-content-center align-items-center">
            <plex-label timeline="true" type="default" size="xl" direction="column" titulo="{{ dato.label }}"
                        subtitulo="{{ dato.valor }}" *ngFor="let dato of datos | slice:7:10">
                <p dato>{{ dato.type }}</p>
            </plex-label>
        </div>
        <plex-title titulo="Versión iconográfica" size="sm"></plex-title>
        <div class="w-100 h-50 d-flex justify-content-center align-items-center" *ngFor="let dato of datos | slice:7">
            <plex-label icon="arrow-up" type="default" size="xl" direction="column" titulo="{{ dato.label }}"
                        subtitulo="{{ dato.valor }}"></plex-label>
        </div>
    </plex-layout-main>


    <plex-layout-sidebar type="invert">
        <plex-title titulo="Línea de tiempo"></plex-title>

        <div *ngFor="let dato of datos | slice:11:15">
            <plex-label timeline="true" type="default" size="lg" direction="row" titulo="{{ dato.label }}"
                        subtitulo="{{ dato.valor }}">
                <p dato>{{ dato.type }}</p>
            </plex-label>
        </div>
        <plex-title titulo="Size='xl' | direction='column'" size="sm"></plex-title>
        <plex-grid type="full" size="md">
            <div *ngFor="let dato of datos | slice:1:5">
                <plex-label type="{{ dato.type }}" direction="column" icon="account" size="xl" titulo="{{ dato.label }}"
                            subtitulo="{{ dato.valor }}">
                </plex-label>
            </div>
        </plex-grid>
        <plex-title titulo="Size='SM' | direction='row'" size="sm"></plex-title>
        <section class="plex-grid">
            <div *ngFor="let dato of datos | slice:0:3">
                <plex-label size="md" titulo="{{ dato.label }}" icon="star" subtitulo="{{ dato.valor }}">
                </plex-label>
            </div>
        </section>
    </plex-layout-sidebar>

</plex-layout>