<plex-layout main="8">
    <plex-layout-main>
        <plex-title titulo="plex-tabs | Casos de uso y tipologías">
            <plex-button (click)="next()" label="Siguiente tab"></plex-button>
        </plex-title>
        <pre>Tab activo: {{activo}}</pre>
        <section justify>
            <plex-tabs [activeIndex]="activo" (change)="cambio($event)">
                <plex-tab label="Tab 1" color="procedimiento">
                    <div class="alert alert-info">
                        Contenido 1
                    </div>
                </plex-tab>
                <plex-tab *ngIf="mostrar" label="Tab 2" icon="account">
                    <div class="alert alert-warning">
                        Contenido 2
                    </div>
                </plex-tab>
                <plex-tab icon="account">
                    <div class="alert alert-danger" *plTab="5000">
                        <span *ngFor="let item of contenidoAsync | async"> {{ item }} </span>
                        Contenido 3
                    </div>
                </plex-tab>
                <plex-dropdown label="hola" size="sm" [items]="items" right="false">
                </plex-dropdown>
                <plex-button type="info" size="sm" title="anterior" icon="chevron-left"
                             ariaLabel="navegar tab hacia la izquierda" (click)="previous()">
                </plex-button>
                <plex-button type="info" size="sm" title="siguiente" icon="chevron-right"
                             ariaLabel="navegar tab hacia la derecha" (click)="next()">
                </plex-button>
            </plex-tabs>
        </section>
        <plex-title titulo="Tabs dinámicos">
            <plex-button (click)="add()" label="Agregar" type="success"></plex-button>
        </plex-title>
        <section justify>
            <plex-tabs [activeIndex]="activoDinamico" (close)="close($event)">
                <plex-tab *ngFor="let item of tabs" [label]="item.label" [icon]="item.icon" [color]="item.color"
                          [allowClose]="true">
                    <div>
                        Este es el contenido de <strong>{{item.label}}</strong>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                        tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                        dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                    </p>
                </plex-tab>
                <plex-badge type="warning" size="sm">badge warning</plex-badge>
                <plex-button type="info" size="sm" label="test"></plex-button>
                <plex-button type="warning" size="sm" label="test"></plex-button>
                <plex-help type="help" titulo="Ayuda de este panel" size="sm">
                    <div class="ml-4 mb-4" *plHelp>
                        <label>Organización:</label>
                        prestacion.solicitud.organizacion.nombre
                        <label>Fecha:</label>
                        prestacion.solicitud.fecha | date
                        <label>Prestación de origen:</label>
                        prestacion.solicitud.prestacionOrigen
                    </div>
                </plex-help>
            </plex-tabs>
        </section>
    </plex-layout-main>
    <plex-layout-sidebar type="invert">
        <plex-tabs size="full">
            <plex-tab icon="account" label="Inicio">
                <div class="d-flex flex-column mt-4 justify-content-center align-items-center">
                    <b>Primer pestaña.</b>Generalmente utilizada como panel de resumen.
                </div>
            </plex-tab>
            <plex-tab icon="pencil" label="Edición" color="procedimiento">
                <div class="alert alert-danger">
                    <b>Segunda pestaña.</b>Generalmente utilizado como panel para la edición de datos.
                </div>
            </plex-tab>
            <plex-tab icon="clock" label="Histórico" color="default">
                <div class="alert alert-info">
                    <b>Tercera pestaña.</b>Generalmente utilizado como panel para listados de historiales.
                </div>
            </plex-tab>
            <plex-button type="danger" size="sm" icon="close" ariaLabel="cerrar panel lateral" title="prueba sidebar">
            </plex-button>
        </plex-tabs>
    </plex-layout-sidebar>
</plex-layout>