<plex-layout main="8">
    <plex-layout-main>
        <plex-title size="lg" titulo="Bienvenido a Plex">
            <plex-help type="help" titulo="Ayuda de este panel" size="sm" title="este es un atributo [title]"
                       class="mr-1">
                <div info>
                    <label>Organización:</label>
                    prestacion.solicitud.organizacion.nombre
                    <label>Fecha:</label>
                    prestacion.solicitud.fecha | date
                    <label>Prestación de origen:</label>
                    prestacion.solicitud.prestacionOrigen
                </div>
            </plex-help>
            <plex-button type="success" size="sm" icon="chevron-down" (click)="showModal = true"></plex-button>
            <plex-modal-template *ngIf="showModal" (motivoAccesoHuds)="showModal = false"></plex-modal-template>
        </plex-title>

        <plex-wrapper>
            <plex-datetime label="Ingrese la fecha" [(ngModel)]="tModel.fechaHora" name="fechaHora" required>
            </plex-datetime>
            <plex-select grow="3" [(ngModel)]="modelo1.select" [data]="opciones"
                         label-field="nombre + ' (' + continente + ')'" label="Seleccione un país"></plex-select>
            <plex-float label="plex-float" placeholder="Ingrese porcentaje entre 10.5 y 90.4" [(ngModel)]="tModel.valor"
                        name="valor" [min]="10.5" [max]="90.4" suffix="%"></plex-float>
            <div collapse>
                <plex-float label="plex-float" placeholder="Ingrese porcentaje entre 10.5 y 90.4"
                            [(ngModel)]="tModel.valor" name="valor" [min]="10.5" [max]="90.4" suffix="%"></plex-float>
                <plex-bool [(ngModel)]="modelo.slide" type="slide" label="¿Está activo?" name="slide"></plex-bool>
                <plex-phone label="Número telefónico" placeholder="Número de celular" [(ngModel)]="tModel.valor"
                            name="valor"></plex-phone>
                <plex-select grow="2" [(ngModel)]="modelo1.select" [data]="opciones"
                             label-field="nombre + ' (' + continente + ')'" label="Seleccione un país"></plex-select>
            </div>
        </plex-wrapper>

        <plex-main-listado>

        </plex-main-listado>
    </plex-layout-main>

    <plex-layout-sidebar type="invert">
        <plex-tabs size="full">
            <plex-tab label="tab-1" icon="star" active="true">
                <router-outlet></router-outlet>
            </plex-tab>

            <plex-tab label="tab-2" icon="star" active="true">
                <!-- Formulario -->
                <plex-wrapper>

                </plex-wrapper>
                <div class="grow">
                    <plex-text multiline=true [(ngModel)]="prueba">
                    </plex-text>
                    <plex-button type="danger" icon="pencil"></plex-button>
                </div>


                <div justify>
                    <plex-button type="success"> LABEL </plex-button>
                    <plex-button type="warning">
                        <plex-icon name="pencil"></plex-icon>
                    </plex-button>
                    <plex-button type="danger" icon="pencil"></plex-button>
                    <plex-button size="sm" type="info" label="LABEL"></plex-button>
                </div>

            </plex-tab>

            <plex-tab label="tab-3" icon="star" active="true">
                <plex-accordion>
                    <plex-panel>
                        <div plex-accordion-title>Titulo</div>
                        <p>algo</p>
                    </plex-panel>
                    <plex-panel>
                        <div plex-accordion-title>Titulo 2</div>
                        <p>otra cosa</p>

                    </plex-panel>
                    <plex-panel>
                        <div plex-accordion-title>Titulo 3</div>
                        <p>tercer acordion</p>

                    </plex-panel>
                </plex-accordion>
            </plex-tab>
        </plex-tabs>
    </plex-layout-sidebar>
</plex-layout>