<plex-layout main="8">
    <plex-layout-main>

        <!-- Desacoplar en componentes! -->
        <plex-title size="lg" titulo="Hola">
            <plex-button type="success" size="sm">Esta es una accion</plex-button>
        </plex-title>

        <section id="plex-filter">

        </section>

        <main-listado>

        </main-listado>

    </plex-layout-main>
    <plex-layout-sidebar type="invert">

        <plex-tabs size="full">
            <plex-tab label="tab-1" icon="star" active="true">
                <sidebar-detalle>

                </sidebar-detalle>
            </plex-tab>
            <plex-tab label="tab-2" icon="star" active="true">

            </plex-tab>
            <plex-tab label="tab-3" icon="star" active="true">

            </plex-tab>

        </plex-tabs>

    </plex-layout-sidebar>
</plex-layout>