<plex-box title="Template-form usando ngModel">
  <div class="row">
    <div class="col-md-6">
      <form>
        <plex-text label="Ingrese el nombre" [(ngModel)]="templateModel1.nombre" name="nombre">
        </plex-text>
      </form>
    </div>
    <div class="col-md-6">
      <label>Modelo</label>
      <pre>{{templateModel1 | json}}</pre>
    </div>
  </div>
</plex-box>
<plex-box title="Template-form usando ngModel, validación min 10 y max 15">
  <div class="row">
    <div class="col-md-6">
      <form>
        <plex-text label="Ingrese el nombre" [(ngModel)]="templateModel2.nombre" name="nombre" minlength="10" maxlength="15">
        </plex-text>
      </form>
    </div>
    <div class="col-md-6">
      <label>Modelo</label>
      <pre>{{templateModel2 | json}}</pre>
    </div>
  </div>
</plex-box>
<plex-box title="Reactive form utilizando sin validación">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="form1">
        <plex-text label="Ingrese el nombre" formControlName="nombre">
        </plex-text>
      </form>
    </div>
    <div class="col-md-6">
      <label>Modelo</label>
      <pre>{{model1 | json}}</pre>
    </div>
  </div>
</plex-box>
<plex-box title="Reactive form utilizando doble validación">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="form2">
        <plex-text label="Ingrese el nombre" formControlName="nombre">
        </plex-text>
      </form>
    </div>
    <div class="col-md-6" *ngIf="model2">
      <label>Modelo</label>
      <pre>{{model2 | json}}</pre>
    </div>
  </div>
</plex-box>
<plex-box title="Reactive Form usando placeholder y autofocus sin validación">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="form3">
        <plex-text label="Ingrese el nombre" autoFocus="true" placeholder="ingrese texto..." formControlName="nombre">
        </plex-text>
      </form>
    </div>
    <div class="col-md-6" *ngIf="model2">
      <label>Modelo</label>
      <pre>{{model3 | json}}</pre>
    </div>
  </div>
</plex-box>
